@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
@import url('http://fonts.cdnfonts.com/css/akira-expanded');
  .aimpara{
    border: 2px solid #fa6d28;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    font-family: 'Kodchasan', sans-serif;
    text-transform: uppercase;
    border-radius: 40px;
    
  }
  .aim{
    padding:5%;
    color:#fa6d28 ;
    background-repeat: repeat;
    background-size: contain;
    background-color:#1b0e08 ;
  }
  .aimhead {
    padding: 3%;
    color: #fa6d28;
    font-size: 4rem;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .aimhead:after, .aimhead:before {
    content: '';
    width: 150px;
    height: 2px;
    background: #fa6d28;
    margin: 0 10px;
  }
  @media screen and (max-width: 1200px) and (min-width: 300px)  {
    .aimpara{
      font-size: 0.5rem;
    }

  }
  