@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
.semitop {
    position: relative;
    display: flex;
      justify-content: flex-end;
     align-items: center;
     flex-direction: column;
      text-align: center;
      font-size: 2rem;
      height: 100px;
      width: 320px;
      
      border-radius: 50% / 100% 100% 0 0;
    background-color: #fe5400;

  }
  .emptydown {
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
    text-align: center;
    width: 300px;
    height: 150px; /*half of width*/
    border-radius:0 0 150px 150px;
    border:3px dashed #ea4d00;
    border-top: 1px solid transparent;
    }
    .circle-container{
        
        padding: 20%;
        /* background-color: aliceblue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .circle-container:hover> .semitop img{
        animation: flip 1s infinite; 
    }
    .topsemi{
        color: white;
        font-size: 2rem;
    }
    .downempty{
        
        font-family: 'Roboto', sans-serif;
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color:#f66a26;
    

        
    }
    .semitop img{
        position: relative;
        /* set a default height*/
        padding: 2.5%;
        
         /* move image up fo 75px */
         
        border: 4px solid rgb(255, 255, 255); /* define a border */
        background-color: black;
        border-radius: 50%; /* make the image rounded, this works only with square images*/
    }

    @media screen and (max-width:500px) and (min-width: 300px)  {
        .circle-container{
            padding: 0%;
            transform: scale(0.4);
        }
      
    }
    @keyframes flip{
        from{
         transform: rotateY(0deg);
       }
        to{
          transform: rotateY(360deg);
       }
     }