.mid-day{
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    
    width: 100%;
    
    
}
.featured{
    font-size: 5vw;
    font-weight: 900;
    color: white;
    margin-top: 1%;
    margin-left: 10%;
    font-style: italic;
    align-self: flex-start;
    

}


.feat{
    padding-bottom: 5%;
    background-color: #1b0e08;
    display: flex;
    background-size: contain;
    background-repeat: repeat;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; 
}
.news{
width: 30vw;
height: 20vw;
}
.news:hover{
    cursor: pointer;
    box-shadow: 0px 0px 30px 2px rgb(242, 237, 233);
}
@media screen and (max-width: 1200px) and (min-width: 800px)  {
    .feat{
flex-direction: column;
    }
    .mid-day{
        flex-direction: column;
    }
    .news{
     width: 70vw;
     height: 40vh;
     margin: 1%;
    }
    .featured{
        font-size: 10vw;
    }
}
@media screen and (max-width: 800px) and (min-width: 300px)  {
    .feat{
flex-direction: column;
    }
    .mid-day{
        flex-direction: column;
    }
    .news{
     width: 300px;
     height: 300px;
     margin: 1%;
    }
    .featured{
        font-size: 10vw;
    }
}
