.Box{
  border-radius: 40px;
  border: 0.2px solid rgb(255, 255, 255);
padding-top: 5%;
padding-bottom: 1%;
background-color: rgba(0, 0, 0, 0.5);
background-image: url("../assets/Asset 79.svg");
background-repeat: repeat;
background-position:center;
position: relative;
bottom: 0;
width: 100%;
}
 
@media (max-width: 1000px) {
  .Box{
    padding-top: 20%;
}}
svg {
  color : "red";
}
.Container{
  

display: flex;
flex-direction: column;
justify-content: center;
max-width: 1000px;
margin: 0 auto;
/* background: red; */}
.Column
{
  border-radius: 40px;
  padding:2%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
  background-color: rgba(0,0,0,0.7);
}
.Row{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 20px;
   
}
.FooterLink{
  color: white;
  text-decoration: solid;
  text-shadow: #ff6000;
  margin-bottom: 20px;
  font-size: 1.2em;
  text-decoration: none;
  padding: 2px;
}
.FooterLink:hover{
  text-shadow: ;
}

.Heading{
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: bold;
}