.footer-container {
  padding-top: 80px;
  height: 900px;
  background-image: url("../assets/mount.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
}
@media screen and (max-width: 768px) {
}
