
.mintcon {
	font-size: 8rem;
	text-align: center;
	font-weight: 900;
	color: white;
  font-family: 'Akira Expanded', sans-serif;
	
	--x-offset: -0.0625em;
	--y-offset: 0.0625em;
	--stroke: 0.025em;
	--background-color: rgba(0, 0, 0, 0.651);
	--stroke-color: #8d837e86;
	
	text-shadow: 
	  
	  var(--x-offset)
	  var(--y-offset)
	  0px
	  var(--background-color), 
	  
	  calc( var(--x-offset) - var(--stroke) )
	  calc( var(--y-offset) + var(--stroke) )
	  0px
	  var(--stroke-color);
	
  }
  /* for browsers that support spread, added in
  https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
  currently: none browsers! none of them!
  I can't even find a test: 
  https://wpt.fyi/results/css/css-text-decor */
  @supports ( text-shadow: 1px 1px 1px 1px black ) {
	.mintcon {
	  text-shadow:
		
		var(--x-offset)
		var(--y-offset)
		0px
		0px
		var(--background-color), 
		
		var(--x-offset) 
		var(--y-offset)
		var(--stroke)
		0px
		var(--stroke-color);
	  
	}}
  .mintco{
    height: 100vh;
    width: 100vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/mintbg.webp");
    background-size: cover;
  }
  .mintimage{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 500px;
    height: 400px;
  }
  .mintim{
    width: 500px;
  }
  .mintim2{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 500px;
  }
  .fullco{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @media screen and (max-width: 1200px) and (min-width: 300px)  {
    .mintcon{
      font-size: 3em;
    }
    .mintim{
      display: none;
    }
    .mintim2{
      display: none;
    }
    .mintimage{
      height: auto;
    }
  }