.mintco{
    padding: 5%;
    display: flex;
align-items: center;
flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("../assets/mintbg.png");
    background-repeat: repeat;
}
.mintcon {
    margin-left: -50%;
	font-size: 8rem;
	text-align: left;
	font-weight: 900;
	color: white;
  font-family: 'Akira Expanded', sans-serif;
	
	--x-offset: -0.0625em;
	--y-offset: 0.0625em;
	--stroke: 0.025em;
	--background-color: rgba(0, 0, 0, 0.651);
	--stroke-color: #8d837e86;
	
	text-shadow: 
	  
	  var(--x-offset)
	  var(--y-offset)
	  0px
	  var(--background-color), 
	  
	  calc( var(--x-offset) - var(--stroke) )
	  calc( var(--y-offset) + var(--stroke) )
	  0px
	  var(--stroke-color);
	
  }
  /* for browsers that support spread, added in
  https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
  currently: none browsers! none of them!
  I can't even find a test: 
  https://wpt.fyi/results/css/css-text-decor */
  @supports ( text-shadow: 1px 1px 1px 1px black ) {
	.mintcon {
	  text-shadow:
		
		var(--x-offset)
		var(--y-offset)
		0px
		0px
		var(--background-color), 
		
		var(--x-offset) 
		var(--y-offset)
		var(--stroke)
		0px
		var(--stroke-color);
	  
	}
  }
  .mintimage{
      width: 500px;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      border:10px solid #471519;
      background-color: #2e1213;
  }

  .mintbutton{
    font-family: 'Akira Expanded', sans-serif;
    font-size: 2em;
    color:#ea0c1e;
      border: none;
      width: 300px;
      height: 60px;
      margin: auto;
      background-color: #471519;
  }
  
  @media screen and (max-width: 1200px) and (min-width: 300px)  {
    .mintcon{
      margin:auto;
      font-size: 3em;
    }
    .mintimage{
      width: 90vw;
      height: 50vh;
    }
    .fullco{
      flex-direction: column;
    }
    .mintim{
      width: 500px;
      height: 500px;
    }

  }
  .mintim{
    width: 500px;
    height: 500px;
  }

  .mintim2{
    width: 500px;
    height: 500px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  }
  .fullco{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }