
.hero {
  font-size:1.5vw;
  padding: 1%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;
  font-family: 'Koulen', cursive;

  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 3px);
}
.me-auto{
  display: flex;
  justify-content: center;
align-items: center;

}

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.nav-link{
margin-left: 1%;
margin-right: 1%;
    font-size: 1.5vw;
    font-weight: 900;
    letter-spacing: 5px;
    font-family: 'Koulen', cursive;
    color: white;
}
.nav-link:hover{
    text-shadow: 2px 2px 30px rgb(255, 255, 255);
}
/* .hero {
    font-size: clamp(30px, 10vw, 30px);
    line-height: 1;
    display: inline-block;
    color: #fff;
    z-index: 2;
    letter-spacing: 4px;
    font-size: 1.9vw;
    /* Bright things in dark environments usually cast that light, giving off a glow */
    /* filter: drop-shadow(0 1px 3px);
  } */
 
  @media screen and (max-width: 1200px) and (min-width: 300px)  {
    .nav-link{
      font-size: 3vh;
    }
    .hero{
      font-size: 2vh;
    }
    .me-auto{
      background-color:rgba(0,0,0,0.7);
      border-radius: 50px;
    }
  }