.caraco{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 min-height:60vh;
 height: fit-content;
}
.carapara{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;

}
.slidepara{
  width: 100%;
  font-size: 2vw;
  color: white;
}
.arrows{
  width: 5vw;
  opacity: 1;
  filter: saturate(500%);
  height: 5vw;
}
@media screen and (max-width: 1200px) and (min-width: 300px)  {
  .caraco{
    min-height: 40vh;
  }
  body{
    overflow-x: hidden;
  }
  .arrows{
    width: 2vh;
    opacity: 1;
    filter: saturate(500%);
    height: 2vh;
  }
  .slidepara{
    font-size: 3vw;
  }
}