@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kodchasan:wght@200;400&display=swap');
 .addition{
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
	font-size: 4em;
	padding-bottom: 1%;
	-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
timeline{ display: flex;
	justify-content: center;
	align-items: center;
	
	background-image: url("../assets/Asset 38.png");}
	
 main {

	
	background-repeat: repeat;
	background-size: contain;
	 min-width: 20%;
	 max-width: 90%;
	 margin: auto;
	 

     
}
.roadhead{
	
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .newtime {
	font-family: 'IBM Plex Sans', sans-serif;
	 text-align: center;
	 font-size: 1.5m;
	 line-height: 1.5em;
	 border-top: 3px solid;
	 border-image: linear-gradient(to right, #743ad5 0%, #ff6600 100%);
	 border-image-slice: 1;
	 border-width: 3px;
	 padding-top: 10%;
	 padding-bottom: 10%;
	 counter-increment: section;
	 position: relative;
	 color: #ffffff;
	 font-weight:bolder;
	 
}
 .newtime:before {

	 content: counter(section);
	 position: absolute;
	 border-radius: 50%;
	 padding: 4%;
	 height: 1.5em;
	 width: 1.5em;
	 line-height: 10%;
	 color: rgb(255, 255, 255);
	 font-size: 2em;
	 content:counter(section, upper-roman);
	 


}

.newtime:nth-child(odd):hover{

	-webkit-box-shadow: 0px 0px 44px 2px rgba(242,233,242,1);
-moz-box-shadow: 0px 0px 44px 2px rgba(242,233,242,1);
box-shadow: 0px 0px 44px 2px rgb(189, 21, 189);

}

.newtime:nth-child(even):hover{
	-webkit-box-shadow: 0px 0px 44px 2px rgba(242,233,242,1);
-moz-box-shadow: 0px 0px 44px 2px rgba(242,233,242,1);
box-shadow: 0px 0px 44px 2px #ff6600a8;

}
 .newtime:nth-child(odd) {
	 border-right: 3px solid;

}
 .newtime:nth-child(odd):before {
	 right: -15%;
	 top: 40%;
}
 .newtime:nth-child(even) {
	 border-left: 3px solid;
	
}
 .newtime:nth-child(even):before {
	 left: -20%;
	 top: 40%;
	 
}
 .newtime:first-child {
	 border-top: 0;
	 border-top-right-radius:0;
	 border-top-left-radius: 0;
}
 .newtime:last-child {
	 border-bottom-right-radius: 0;
	 border-bottom-left-radius: 0;
}
@media screen and (max-width: 1200px) and (min-width: 300px)  {
	main {
		min-width: 10%;
		max-width: 50%;
		margin: auto;
		overflow-x: none;
		
   }
   
   .roadhead{
   
	   color: white;
	   font-size: 1rem;
	   text-align: center;
	   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
	.newtime {
	   font-family: 'IBM Plex Sans', sans-serif;
		text-align: center;
		font-size: 1.2em;
		line-height: 1.5em;
		border-top: 3px solid;
		border-image: linear-gradient(to right, #743ad5 0%, #ff6600 100%);
		border-image-slice: 1;
		border-width: 3px;
		padding-top: 10%;
		padding-bottom: 10%;
		counter-increment: section;
		position: relative;
		color: #ffffff;
		font-weight:bolder;
		
   }
   .newtime:nth-child(odd) {
	border-right: 3px solid;

}
.newtime:nth-child(odd):before {
	right: -40%;
	top: 40%;
}
.newtime:nth-child(even) {
	border-left: 3px solid;
   
}
.newtime:nth-child(even):before {
	left: -40%;
	top: 40%;
	
}
}

.slide-in-left1 {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.slide-in-left2 {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

.slide-in-left3 {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

 @-webkit-keyframes slide-in-left {
	0% {
	  -webkit-transform: translateX(-1000px);
			  transform: translateX(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-left {
	0% {
	  -webkit-transform: translateX(-1000px);
			  transform: translateX(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }

  .slide-in-right1 {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}

.slide-in-right2 {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}

.slide-in-right3 {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.5s both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.5s both;
}

 @-webkit-keyframes slide-in-right {
	0% {
	  -webkit-transform: translateX(1000px);
			  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-right {
	0% {
	  -webkit-transform: translateX(1000px);
			  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  
  
  .addition:hover{
	cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
	transform: scale(1.2)
}
@media screen and (max-width: 1200px) and (min-width: 300px)  {
	.addition{
		font-size: 2rem;
	}
}